<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/wavefront/index.html">Wavefront Provider</a>
                </li>
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/wavefront/d/default_user_group.html">wavefront_default_user_group</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/wavefront/r/alert.html">wavefront_alert</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/alert_target.html">wavefront_alert_target</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/dashboard.html">wavefront_dashboard</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/dashboard_json.html">wavefront_dashboard_json</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_cloudwatch.html">wavefront_cloud_integration_cloudwatch</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_cloudtrail.html">wavefront_cloud_integration_cloudtrail</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_ec2.html">wavefront_cloud_integration_ec2</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_aws_external_id.html">wavefront_cloud_integration_aws_external_id</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_gcp.html">wavefront_cloud_integration_gcp</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_gcp_billing.html">wavefront_cloud_integration_gcp_billing</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_azure.html">wavefront_cloud_integration_azure</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_azure_activity_log.html">wavefront_cloud_integration_azure_activity_log</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_newrelic.html">wavefront_cloud_integration_newrelic</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/cloud_integration_app_dynamics.html">wavefront_cloud_integration_app_dynamics</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/derived_metric.html">wavefront_derived_metric</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/user.html">wavefront_user</a>
                        </li>
                        <li>
                            <a href="/docs/providers/wavefront/r/user_group.html">wavefront_user_group</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
